@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url(../css/navbar.css);
@import url(../css/video.css);
@import url(../css/countdown.css);
@import url(../css/additems.css);
@import url(../css/slider.css);
@import url(../css/faq.css);
@import url(../css/about.css);
@import url(../css/media.css);

/* common style */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}

/* utilities classes */
.main-container{
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
}
/* sections */
section{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1F5F8;
}
section .container{
  width: 1200px;
  margin-inline: auto;
  padding: 20px;
}
.section-title{
  font-size: 2.5rem;
  padding: 20px 0;
}
.section-des{
  padding: 0 0 30px 0;
}
img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.active{
  background-color: rgb(235, 235, 235);
}

/* top bar */
.top-bar{
  width: 100%;
  min-height: 10vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 99;
}
.top-bar .logo{
  padding: 20px 0;
}
.toggle-menu-icon{
  cursor: pointer;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.toggle-menu-icon:hover{
  border: 1px solid rgb(202, 202, 202);
}
.toggle-menu-icon i{
  font-size: 1.5rem;
}

/* go to top button style*/
.go-top{
  background-color: #000;
  color: #fff;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
